doctype html
html
    head
    meta(charset ="utf8")
    link(rel="stylesheet" type="text/css" href="./styles/style.css")
    script(src ="./scripts/js/framework/vue.js")
    script(src ="https://use.fontawesome.com/fb3ea4873b.js")
    script(src = "https://www.gstatic.com/firebasejs/4.1.3/firebase.js")
    body
        include stickers.jade
footer
  script(src ="./scripts/js/scripts.js")
