doctype html
html
    head
    meta(charset ="utf8")
    link(rel="stylesheet" type="text/css" href="./styles/style.css")
    script(src ="./scripts/js/framework/vue.js")
    body
        include stickers.jade
footer
  script(src ="./scripts/js/scripts.js")
