@import "bootstrap/scss/bootstrap";

@import "base/_import";

@import "components/import";

@import "layouts/import";


$colorBlack : #3E3A39;

$colorBlue : #A5D8E6;
$colorYellow : #FFEB67;
$colorRed : #EF898C;
$colorGreen : #CBE196;

*,*:after,*:before {
  //border: 1px solid
}

html,body {
  background-color: $colorBlack;
}

@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

html,body {
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 500;
  color: #44403f;
}

@mixin size ($w,$h:$w) {
  width: $w;
  height: $h;
}

.stickers {
  @include size(240px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $colorYellow;
  letter-spacing: 10px;
  box-shadow: 5px 5px 40px rgba(0,0,0,0.4);
  position: absolute;
  transition: background-color 0.6s;
  cursor: pointer;
}

.stickers__nav{
  position: absolute;
  bottom: -40px;
}

.nav{
  @include size(30px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color:#FFFFFF;

}

ul.dataList {
  position: fixed;
  right: 20px;
  top: 20px;
}

div.colorblock{
  @include size(30px);
  margin-right: 5px;
}

.text {
  pointer-events:none;
}

.fade-enter-active, .fade-leave-active {
  transition: .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  transform: scale(0.1);
}
